<a href="https://colab.research.google.com/github/tannguyen2512/CS_week2_project_scrape_Tiki_categories_products/blob/master/WeeklyProject_Get_Tiki_main_categories_sub_categories.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Guidelines

This weekly project might be a little tougher than usual, as you have to have a clear workflow and how to organize your functions. So here is an example workflow you can follow:

- Step 1: Build and fill your Category table using example code in the notebook

- Step 2: Create a function to get the list of URLs of lowest layer categories (This list can have +2000 categories)

- Step 3: Break this list into smaller sublists (using python slicing). 
By doing this, it's easier to assign tasks to your teammates: each member can take care of a portion of the list. 
Also you don't want to let your computer run a loop through 1 single list. If it crashes and you don't have a caching mechanism, you will lose all your work!

- Step 4: For each category URL of a sublist, crawl all the products per page (**recommended number of pages to crawl: 2 pages per category**, but feel free to go for more) and save them into your PRODUCT table

- Step 5: Use SQL to extract useful information out of this dataset you just collected. For example, what is the most expensive item for each categories? Which catogory contains the most items? Which category/product has the highest reviews or ratings ...? This kind of analysis will help you prepare for next week material: Data Module with Nhan!


Note: You might want to store Product_ID or Category_ID of the last crawled item, so that if your computer crashes and you have to start over again, you can start from these IDs instead of starting from scratch.

And make sure to put sleep() when you crawl, otherwise you will crash very often as Tiki will try to block your IP.

# Crawling Tiki main categories and sub categories

![alt text]()

This notebook will guide you to use python function recursively to crawl main categories. For each main categories, it will start to crawl links for sub categories. Recursively, each sub categories have deeper levels of sub categories( Main -> level 2 -> level 3 -> level 4 -> ... ? ) = How deep can it go -> Inception!!!

![alt text]()

Since we don't know how many level of sub categories and how deep for each categories, we need to use recursion to solve this problem.

All of these category links will be saved in a SQLite database.
After crawling all categories (main and subs), you can use your previous weekly project function to crawl products for each of categories to get to get as many products as possible.

At the end of the day, this notebook only crawl links of categories. Therefore, crawling products is your task for the weekly project.

In [ ]:
!sudo apt update

In [ ]:
!sudo apt upgrade

In [ ]:
import selenium

In [ ]:
selenium.__version__

'3.141.0'

In [ ]:
webdriver.__version__

'3.14.1'

In [ ]:
!chromedriver --version

ChromeDriver 89.0.4389.90 (62eb262cdaae9ef819aadd778193781455ec7a49-refs/branch-heads/4389@{#1534})

In [ ]:
!sudo apt install sqlite3

Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 31 not upgraded.
Need to get 752 kB of archives.
After this operation, 2,482 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 sqlite3 amd64 3.22.0-1ubuntu0.4 [752 kB]
Fetched 752 kB in 1s (1,059 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package sqlite3.
(Reading database ... 161348 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.22.0-1ubuntu0.4_amd64.deb ...
Unpacking sqlite3 (3.22.0-1ubuntu0.4) ...
Setting up sqlite3 (3.22.0-1ubuntu0.4) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [ ]:
# install selenium and other resources for crawling data
!pip install selenium
# install other resources for doing crawling
!sudo apt install chromium-chromedriver

Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (3.141.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (89.0.4389.90-0ubuntu0.18.04.2).
0 upgraded, 0 newly installed, 0 to remove and 31 not upgraded.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep
from random import randint
import json
import re
import time
import sqlite3

from selenium import webdriver
# Set driver for Chrome
options = webdriver.ChromeOptions()
options.add_argument('--headless') # since we run selenium on Google Colab so we don't want a chrome browser opens, so it will run in the background
options.add_argument('--no-sandbox')

In [ ]:
print(options.arguments)

['--headless', '--no-sandbox']

In [ ]:
def get_url(url):
    driver = webdriver.Chrome('chromedriver',options=options)        # Define the chrome drivers with setting options we define above    
    # we let selenium to wait for 30 seconds for all javascript script done before return the result of HTML
    driver.implicitly_wait(30) 
    driver.get(url)                                             # Open the browser again to get web page
    html_data = driver.page_source                                   # After driver.get() is done, you can get back HTML string by using .page_source
    driver.close()                                                   # Close the driver after retrieving the web page
    time.sleep(5)
    soup = BeautifulSoup(html_data, 'html.parser') 

    return soup

In [ ]:
def extract_tiki_info(url):
  """ Extract info from all products of a specfic category on Tiki website
      Input: url
      Output: info of products, saved as list of dictionary. If no products shown, return empty list.
  """
  data = []
  index = 1
  soup = get_url(url)

  # FIND ALL PRODUCT ITEMS
  products = soup.find_all('a', {'class':'product-item'})
  all_script = soup.find_all('script', {'type':'application/ld+json'})
  print("BATCH SIZE:", len(products))

  if (soup.find('div', {'class':'style__StyledNotFoundProductView-sc-1uz0b49-0'})):
    print("END PAGE")
  elif len(products):
    # EXTRACT INFO TO DICTIONARY
    for i in products: 
      d = {'name':'','price':'','product_url':'','image':'', 'product_sku':'',
           'tiki_now':'','freeship':'','review':'','rating':'','under_price':'',
           'discount':'','installment':'','gift':''}
      
      try:
        d['name']         = i.find('div',{'class' : 'name'}).text
        d['price']        = int(re.sub('[. ₫]','', i.find('div',{'class':'price-discount__price'}).text))
        d['product_url']  = 'https://tiki.vn' + i['href'] 
        thumbnail         = i.find('div',{'class':'thumbnail'})
        d['image']        = thumbnail.img['src']        
        d['tiki_now']     = bool(i.find('div',{'class':'badge-service'}).find('div',{'class':'item'})) 
        d['freeship']     = bool(i.find('div',{'class':'badge-top'}).text == "Freeship")
        
        if i.find('div',{'class':'review'}):
          d['review']     = int(i.find('div',{'class':'review'}).text.strip('(').strip(')'))
        else:
          d['review'] = "N/A"
        
        d['under_price']  = bool(i.find('div',{'class':'badge-under-price'}).find('div',{'class':'item'}))

        if i.find('div', {'class':'price-discount__discount'}):
          d['discount']   = int(re.sub('[-%]','', i.find('div',{'class':'price-discount__discount'}).text))
        else:
          d['discount']   = "N/A"
        
        d['installment']  = bool(i.find('div',{'class':'badge-benefits'}).img)
        d['gift']         = bool(i.find('div',{'class':'freegift-list'}))

        script = all_script[index]
        dict_content = json.loads(script.text)
        d['product_sku']  = dict_content['sku']
        
        if 'aggregateRating' in dict_content:
          d['rating']     = float(dict_content['aggregateRating']['ratingValue'])
        else:
          d['rating']     = "N/A"

      except Exception as e:
        print(e)

      index += 1
      data.append(d)
        
  return data

In [ ]:
def scrape_tiki(base_url):
  result = []
  page_number = 1
  main, opt = base_url.split('?')
  
  while True:
    page = f'?page={page_number}&'
    url = main+page+opt
    print("url =", url)
    data = extract_tiki_info(url)
    if len(data)>0:
      result.extend(data)
    else:
      break
    if page_number == 2:
      break
    page_number += 1
    sleep(randint(1,2))

  print("****TOTAL = ",len(result))

  items = pd.DataFrame(data = result, columns = result[0].keys())
  items.to_csv("/content/gdrive/MyDrive/result2.csv", index=False)

# Function to do CRUD (create/ read/ update/ delete) on database

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
conn = sqlite3.connect('/content/gdrive/MyDrive/tiki_tan2.db')
cur = conn.cursor()

In [ ]:
# Create table categories in the database using a function
def create_categories_table():
    query = """
        CREATE TABLE IF NOT EXISTS categories (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name VARCHAR(255),
            url TEXT, 
            parent_id INTEGER, 
            create_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        )
    """
    try:
        cur.execute(query)
        conn.commit()
    except Exception as err:
        print('ERROR BY CREATE TABLE', err)

def select_query(query,conn=conn):
    print(hex(id(conn)))
    return pd.read_sql_query(query, conn)

def delete_categories_table() :
    cur.execute('DROP TABLE categories;')
    conn.commit()

In [ ]:
select_query('SELECT * FROM sqlite_master WHERE type = "table"')

In [ ]:
# create_categories_table()

In [ ]:
select_query('SELECT * FROM categories')

In [ ]:
select_query('SELECT * FROM products')

# OOP to do CRUD (create/ read/ update/ delete) on database

In [ ]:
# Instead of using a function to do CRUD on database,
# creating a class Category is preferred
# attributes: name, url, parent_id
# instance method: save_into_db()
class Category:
    def __init__(self, name, url, parent_id=None, cat_id=None):
        self.cat_id = cat_id
        self.name = name
        self.url = url
        self.parent_id = parent_id

    def __repr__(self):
        return f"ID: {self.cat_id}, Name: {self.name}, URL: {self.url}, Parent: {self.parent_id}"

    def save_into_db(self):
        query = """
            INSERT INTO categories (name, url, parent_id)
            VALUES (?, ?, ?);
        """
        val = (self.name, self.url, self.parent_id)
        try:
            cur.execute(query, val)
            self.cat_id = cur.lastrowid
            conn.commit()
        except Exception as err:
            print('ERROR BY INSERT:', err)

# Get main categories

In [ ]:
# empty our category set
CATEGORY_SET = set()

main_categories = [{'Name': 'Điện Thoại - Máy Tính Bảng', 'URL': 'https://tiki.vn/dien-thoai-may-tinh-bang/c1789?src=c.1789.hamburger_menu_fly_out_banner'},
{'Name': 'Điện Tử - Điện Lạnh', 'URL': 'https://tiki.vn/tivi-thiet-bi-nghe-nhin/c4221?src=c.4221.hamburger_menu_fly_out_banner'}, 
{'Name': 'Phụ Kiện - Thiết Bị Số', 'URL': 'https://tiki.vn/thiet-bi-kts-phu-kien-so/c1815?src=c.1815.hamburger_menu_fly_out_banner'},
{'Name': 'Laptop - Thiết bị IT', 'URL': 'https://tiki.vn/laptop-may-vi-tinh/c1846?src=c.1846.hamburger_menu_fly_out_banner'},
{'Name': 'Máy Ảnh - Quay Phim', 'URL': 'https://tiki.vn/may-anh/c1801?src=c.1801.hamburger_menu_fly_out_banner'}, 
{'Name': 'Điện Gia Dụng', 'URL': 'https://tiki.vn/dien-gia-dung/c1882?src=c.1882.hamburger_menu_fly_out_banner'}, 
{'Name': 'Nhà Cửa Đời Sống', 'URL': 'https://tiki.vn/nha-cua-doi-song/c1883?src=c.1883.hamburger_menu_fly_out_banner'}, 
{'Name': 'Hàng Tiêu Dùng - Thực Phẩm', 'URL': 'https://tiki.vn/bach-hoa-online/c4384?src=c.4384.hamburger_menu_fly_out_banner'}, 
{'Name': 'Đồ chơi, Mẹ & Bé', 'URL': 'https://tiki.vn/me-va-be/c2549?src=c.2549.hamburger_menu_fly_out_banner'}, 
{'Name': 'Làm Đẹp - Sức Khỏe', 'URL': 'https://tiki.vn/lam-dep-suc-khoe/c1520?src=c.1520.hamburger_menu_fly_out_banner'},
{'Name': 'Thể Thao - Dã Ngoại', 'URL': 'https://tiki.vn/the-thao/c1975?src=c.1975.hamburger_menu_fly_out_banner'},
{'Name': 'Xe Máy, Ô tô, Xe Đạp', 'URL': 'https://tiki.vn/o-to-xe-may-xe-dap/c8594?src=c.8594.hamburger_menu_fly_out_banner'},
{'Name': 'Hàng quốc tế', 'URL': 'https://tiki.vn/hang-quoc-te/c17166?src=c.17166.hamburger_menu_fly_out_banner'}, 
{'Name': 'Sách, VPP & Quà Tặng', 'URL': 'https://tiki.vn/nha-sach-tiki/c8322?src=c.8322.hamburger_menu_fly_out_banner'}, 
{'Name': 'Voucher - Dịch Vụ - Thẻ Cào', 'URL': 'https://tiki.vn/voucher-dich-vu/c11312?src=c.11312.hamburger_menu_fly_out_banner'}]

In [ ]:
def can_add_to_cat_set(cat_name,save=False):
  if cat_name not in CATEGORY_SET:
    if save:
      CATEGORY_SET.add(cat_name)
      print(f'Added "{cat_name}" to CATEGORY_SET')
    return True
  return False

In [ ]:
def get_main_category(main_categories,save_db=False):
    result=[]
    for i in main_categories:
        _=can_add_to_cat_set(i['Name'],save_db)

        main_cat = Category(i['Name'],i['URL'])
        if save_db:
            main_cat.save_into_db()
        result.append(main_cat)
    return result

In [ ]:
# main_cat_objs = get_main_category(main_categories,save_db=False)
# main_cat_objs

In [ ]:
select_query('SELECT * FROM CATEGORIES')

# Get sub categories

In [ ]:
# get_sub_categories() given a parent category
def get_sub_categories(parent_category, save_db=False):
    parent_url = parent_category.url
    result = []

    try:
        soup = get_url(parent_url)
        with open('test','w') as checksoup:
            checksoup.write(soup.prettify())
        for a in soup.find_all('a', {'class':'item item--category'}):
            name = a.text.strip()
            if can_add_to_cat_set(name,save_db): 
                sub_url = a['href']
                cat = Category(name, sub_url, parent_category.cat_id) # we now have parent_id, which is cat_id of parent category
                if save_db:
                  cat.save_into_db()
                result.append(cat)
    except Exception as err:
        print('ERROR IN GETTING SUB CATEGORIES:', err)
    return result

# Put everything together

In [ ]:
# get_all_categories() given a list of main categories (This is a recursion function)
# def get_all_categories(categories,save_db):
#     # if I reach the last possible category, I need to stop
#     if len(categories) == 0:
#         return      
#     for cat in categories:
#         print(f'Getting {cat} sub-categories...')
#         sub_categories = get_sub_categories(cat, save_db=save_db)
#         print(f'Finished! {cat.name} has {len(sub_categories)} sub-categories')
#         get_all_categories(sub_categories,save_db=save_db)

In [ ]:
def get_all_categories(categories,save_db):
    categories = categories.copy()
    while len(categories):
        cat_to_crawl = categories[0]
        print(f'Getting {cat_to_crawl} sub-categories...')
        sub_categories = get_sub_categories(cat_to_crawl, save_db=save_db)
        print(f'Finished! {cat_to_crawl.name} has {len(sub_categories)} sub-categories')
        categories+=sub_categories
        del categories[0]

In [ ]:
# main_cat_objs = get_main_category(main_categories,save_db=False)
# main_cat_objs

In [ ]:
# get_all_categories(main_cat_objs,save_db=True)

In [ ]:
select_query('SELECT COUNT(*) FROM categories')

In [ ]:
select_query('SELECT * FROM categories ORDER BY ID DESC LIMIT 5')

# Find lowest categories

In [ ]:
lowest_cats = select_query('''
  SELECT DISTINCT id, url
  FROM categories 
    WHERE id IN (
        SELECT DISTINCT id 
        FROM categories 
        
        EXCEPT 
        
        SELECT DISTINCT parent_id 
        FROM categories
        ) 
    ORDER BY id DESC ''')
lowest_cats

In [ ]:
lowest_cats.iloc[1151,:]

In [ ]:
select_query('''
    SELECT COUNT(*) 
    FROM (
        SELECT * 
        FROM categories 
            WHERE id IN (
                SELECT DISTINCT id 
                FROM categories 
                
                EXCEPT 
                
                SELECT DISTINCT parent_id 
                FROM categories
                )
        )
''')

   COUNT(*)
0      2302

# Class Product

In [ ]:
# Create table products in the database using a function
def create_products_table():
    query = """
        CREATE TABLE IF NOT EXISTS products (
            product_sku INTERGER PRIMARY KEY,
            name TEXT,
            price INTEGER,
            category_id INTEGER,
            product_url TEXT,
            image TEXT,
            tiki_now INTEGER,
            freeship INTEGER,
            review INTEGER,
            rating REAL,
            under_price INTEGER,
            discount INTEGER,
            installment INTEGER, 
            gift INTEGER,
            create_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        )
    """
    try:
        cur.execute(query)
        conn.commit()
    except Exception as err:
        print('ERROR BY CREATE TABLE', err)

In [ ]:
def delete_products_table() :
    cur.execute('DROP TABLE products;')
    conn.commit()

In [ ]:
class Product():
    def __init__(self, product, cat_id ) :
        # because extract_tiki_info return a dictionary, for each product, containing all product information
        # so the type of input arguments when creating Product instance is dictionary
        info = ['name','price''product_url','image', 'product_sku',
               'tiki_now','freeship','review','rating','under_price',
               'discount','installment','gift']
        self.name = product['name']
        self.price = int(product['price'])
        self.product_url = product['product_url']
        self.image = product['image']
        self.product_sku = int(product['product_sku'])
        self.tiki_now = int(product['tiki_now'])
        self.freeship = int(product['freeship'])
        self.review = float(product['review'])
        self.rating = float(product['rating'])
        self.under_price = int(product['under_price'])
        self.discount = float(product['discount'])
        self.installment = int(product['installment'])
        self.gift = int(product['gift'])
        self.cat_id = int(cat_id)
    
    def __repr__(self) :
        return f'SKU: {self.product_sku}\t Name: {self.name[:20]}...\t Price: {self.price} VND'

    def save_into_db(self):
        query = """
            INSERT INTO products (
                product_sku, name,
                price, category_id,
                product_url, image,
                tiki_now, freeship,
                review, rating,
                under_price, discount,
                installment, gift)
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
        """
        val = (self.product_sku, self.name, 
                self.price, self.cat_id,
                self.product_url, self.image,
                self.tiki_now, self.freeship,
                self.review, self.rating,
                self.under_price, self.discount,
                self.installment, self.gift)
        try:
            cur.execute(query, val)
            conn.commit()
        except Exception as err:
            print('ERROR BY INSERT:', err, self.product_sku)

# Scraping all product of lowest categories

In [ ]:
select_query('SELECT * FROM sqlite_master WHERE type = "table"')

    type  ...                                                sql
0  table  ...             CREATE TABLE sqlite_sequence(name,seq)
1  table  ...  CREATE TABLE categories (\n            id INTE...
2  table  ...  CREATE TABLE products (\n            product_s...

[3 rows x 5 columns]

In [ ]:
delete_products_table()

In [ ]:
create_products_table()
select_query('SELECT * FROM products')

Empty DataFrame
Columns: [product_sku, name, price, category_id, product_url, image, tiki_now, freeship, review, rating, under_price, discount, installment, gift, create_at]
Index: []

In [ ]:
cur.lastrowid

0

## Scraping lowest categories

In [ ]:
number_catagory = int(lowest_cats.shape[0]/2)
last_row_id = 0
for i in range(number_catagory,len(lowest_cats)):
  row = lowest_cats.iloc[i,:]
  category_id = row['id']
  cat_url = row['url']
  scrape_tiki(cat_url)
  with open('/content/gdrive/MyDrive/result2.csv','r') as dataFile :
    data = pd.read_csv(dataFile)
    # print(type(data))
    for n in range(len(data)):
      # print(data.iloc[n,:])
      item = Product(data.iloc[n,:],category_id)
      item.save_into_db()
    print(f'FINISH SCRAPING CATEGORY ID: {category_id}\t {cur.lastrowid - last_row_id} PRODUCTS ADDED\t LAST-CHECKED PRODUCT ID: {data.iloc[-1,:]["product_sku"]}')  
    last_row_id = cur.lastrowid
  # last_product_sku = cur.execute(f'SELECT rowid, product_sku FROM products WHERE rowid = {cur.lastrowid}').fetchone()[-1]
  # print(f'FINISH SCRAPING CATEGORY ID: {category_id}\t LAST PRODUCT ID: {last_product_sku}')

Streaming output truncated to the last 5000 lines.
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1968930007492
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9448668102789
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6770091827506
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2696824192212
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6003582165512
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4100400393583
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4184524016191
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1613782009117
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7137624682961
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4508682248711
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8028124647330
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2909432199574
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8675663310487
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4287991191948
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3884116055591
FINISH SCRAPING CATEGORY ID: 1493	 48 PRODUCTS ADDED	 LAST-CHECKED PRODUCT ID: 3884116055591
url = https://tiki.vn/gia-dat-dao/c23154?page=1&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
url = https://tiki.vn/gia-dat-dao/c23154?page=2&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
****TOTAL =  96
FINISH SCRAPING CATEGORY ID: 1492	 96 PRODUCTS ADDED	 LAST-CHECKED PRODUCT ID: 6686699705385
url = https://tiki.vn/dao-got-cu-qua/c23138?page=1&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
url = https://tiki.vn/dao-got-cu-qua/c23138?page=2&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
****TOTAL =  96
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1078586135934
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4857807317536
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2197181678383
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2152360851209
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7332197234191
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1990408771103
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3279914963818
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6062875032948
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4346690201203
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8955959581976
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7173529676827
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2406496358904
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8556435764571
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1109013911088
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8327318140078
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7545748320261
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4215270983021
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1308087899289
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7357916907231
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3901258298171
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8566076396789
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7709144057149
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2188740743901
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5947134664058
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3486037179792
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8533094510589
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6509985351250
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9204320526788
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3143017228894
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4269532682092
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1705296282268
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7892865564659
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7354869370914
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8417772421360
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4245232523170
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2365940571415
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9530704668028
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6221626587117
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4426660490436
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1375700494244
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6140978053482
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2095785272542
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2761835705604
FINISH SCRAPING CATEGORY ID: 1491	 53 PRODUCTS ADDED	 LAST-CHECKED PRODUCT ID: 1487197638404
url = https://tiki.vn/dung-cu-mai-dao/c4342?page=1&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 50
url = https://tiki.vn/dung-cu-mai-dao/c4342?page=2&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
****TOTAL =  98
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8524663605157
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5027896585525
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2935583367166
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4472873132496
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1498943830164
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1228379217419
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9816514347538
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2966870683690
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9836968301740
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6934449059555
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8869424794702
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4336784917811
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3662801643076
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3075136485837
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7022697173457
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4050153457844
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9542075416917
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4386504360458
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8673740169508
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3493673524442
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5330986245573
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6892321069583
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8461145003400
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2538382018637
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8146654496102
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4053978304911
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1195416452822
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9696465744385
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2542213044153
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2935270981279
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4582834839569
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5564867532517
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8517359626024
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1567729692156
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4778621095762
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3464508452674
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9639300752077
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6014721373651
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7428226702356
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1693193233516
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9130657744819
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4211598359517
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3716663002745
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9906678571204
FINISH SCRAPING CATEGORY ID: 1490	 54 PRODUCTS ADDED	 LAST-CHECKED PRODUCT ID: 3905249270122
url = https://tiki.vn/bo-dao/c2511?page=1&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 51
url = https://tiki.vn/bo-dao/c2511?page=2&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
****TOTAL =  99
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6944662579082
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4615254803251
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2946208124736
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5536898982319
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2731168664237
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9347668147977
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7152966610120
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7387707195035
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7915535799493
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5183078786368
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2379906040679
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2940686573901
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7649963604762
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6855165841531
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6311149484571
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1399343655602
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7416969747482
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5251849965752
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6804514919384
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4691023860557
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7267052438813
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9501099598093
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1643376154671
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6356711330488
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7935087520222
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5238775136579
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1796781757705
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5744918963552
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9606323916878
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4853166221095
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4955015840326
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3264434505655
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4934970280345
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3052860013796
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8756143609339
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3280118407749
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9859719969624
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5691640368558
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8078608906279
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9911144222658
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3458579771697
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1345722979562
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3286512051366
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6102944876357
FINISH SCRAPING CATEGORY ID: 1489	 55 PRODUCTS ADDED	 LAST-CHECKED PRODUCT ID: 9275004773313
url = https://tiki.vn/dao-chat/c23142?page=1&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
url = https://tiki.vn/dao-chat/c23142?page=2&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
****TOTAL =  96
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5193948937073
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9465440025401
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8682114470911
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7467375335312
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3918597698623
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6843109835777
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6868377168174
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9823116356004
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5263302703511
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2607532135989
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8024587864475
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8851187574387
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6659334742441
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8194236429901
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4007091059128
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2770235327545
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7597777263255
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6684369428626
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1843680923219
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1194550618361
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2635617691464
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9287638042171
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6415774480738
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4490306325338
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8643945115693
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2041769840832
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7689259734145
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6055354904812
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4759856266813
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9017502150356
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9455216712970
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4576198182300
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9433098278951
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5651827015408
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8965398136699
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7016576197924
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9486369229107
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2398003305153
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7906466744874
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8842289048906
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7587651391853
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1017683511265
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4468623700039
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6958719790498
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7090674486401
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8391560290867
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5370937875145
FINISH SCRAPING CATEGORY ID: 1488	 49 PRODUCTS ADDED	 LAST-CHECKED PRODUCT ID: 5370937875145
url = https://tiki.vn/dung-cu-cat-got-bao/c3216?page=1&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
url = https://tiki.vn/dung-cu-cat-got-bao/c3216?page=2&src=c.1883.hamburger_menu_fly_out_banner
BATCH SIZE: 48
****TOTAL =  96
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2596625847425
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8270031469820
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4969396158084
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9787414265386
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1820496041771
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8820875633842
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1729421842509
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2550613162384
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9918441998118
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8599645394381
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7316943990012
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 8805936138757
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6547642329372
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7727380416209
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2083958454888
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1046339680482
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1553022583536
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6519610528315
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4382845606361
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6115847090993
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6181649071904
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7506922737520
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9054368290949
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3276304474831
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6634862073052
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3945495071241
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5866151870191
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5138931624653
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 7159957113996
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 9624267338099
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 4038768776109
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2726506498963
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 5973064009645
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 1603209600065
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 2146380612582
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 6314841784024
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3726011655255
ERROR BY INSERT: UNIQUE constraint failed: products.product_sku 3470253792750

IndexError: ignored

In [ ]:
select_query('SELECT * FROM products ORDER BY category_id')

         product_sku  ...            create_at
0      5009964552995  ...  2021-04-11 10:55:35
1      9443464073141  ...  2021-04-11 10:55:35
2      5156564620194  ...  2021-04-11 10:55:36
3      7916728988441  ...  2021-04-11 10:55:36
4      6937841624181  ...  2021-04-11 10:55:36
...              ...  ...                  ...
12968  2209984336602  ...  2021-04-11 08:25:59
12969  1968732296643  ...  2021-04-11 08:25:59
12970  2020351096253  ...  2021-04-11 08:25:59
12971  5402715430038  ...  2021-04-11 08:25:59
12972  9520929733335  ...  2021-04-11 08:26:00

[12973 rows x 15 columns]

# UNION 2 products table in 2 separate databases

In [ ]:
# close connection and cursor to the database
cur.close()
conn.close()

In [ ]:
conn = sqlite3.connect('/content/gdrive/MyDrive/tiki_tan2.db')
cur = conn.cursor()

In [ ]:
cur.execute('ATTACH DATABASE "/content/gdrive/MyDrive/tiki_ha.db" AS tiki2')

In [ ]:
select_query('SELECT * FROM sqlite_master', conn)

    type  ...                                                sql
0  table  ...             CREATE TABLE sqlite_sequence(name,seq)
1  table  ...  CREATE TABLE categories (\n            id INTE...
2  table  ...  CREATE TABLE products (\n            product_s...
3  index  ...                                               None

[4 rows x 5 columns]

In [ ]:
# tiki_tan3.db and tiki_ha.db
select_query('''
    SELECT *
    FROM main.products
      
    UNION

    SELECT * 
    FROM tiki2.products
    ''', conn)

         product_sku  ...            create_at
0      1000015575240  ...  2021-04-11 01:56:01
1      1000159457273  ...  2021-04-11 08:34:41
2      1000410359599  ...  2021-04-11 00:06:43
3      1000834121185  ...  2021-04-11 02:23:51
4      1000933402062  ...  2021-04-11 09:42:48
...              ...  ...                  ...
29906  9998572918414  ...  2021-04-11 01:00:20
29907  9998921838066  ...  2021-04-11 09:22:57
29908  9999020293398  ...  2021-04-11 08:42:24
29909  9999465539279  ...  2021-04-11 08:40:26
29910  9999821910470  ...  2021-04-11 02:29:12

[29911 rows x 15 columns]

# SQL questions

### What is the most expensive item for each categories ?

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
)
SELECT category_id, product_sku, name, MAX(price)
FROM all_products
  GROUP BY category_id
''', conn)

     category_id  ...  MAX(price)
0           1334  ...     3680000
1           1335  ...     2864900
2           1336  ...     3590000
3           1337  ...     5520000
4           1338  ...     3782033
..           ...  ...         ...
521         2775  ...     3220000
522         2776  ...     1909000
523         2777  ...      888000
524         2778  ...     1800000
525         2779  ...     1010000

[526 rows x 4 columns]

### Which catogory contains the most items?

In [ ]:
# 0x7f4a3919e2d0
# 0x7f4a378fdc70

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
)
SELECT category_id, categories.name, COUNT(product_sku) AS NumberOfProducts
FROM all_products
  JOIN categories 
    ON all_products.category_id = categories.id
  GROUP BY category_id
  ORDER BY NumberOfProducts DESC
''', conn)

0x7f4a378fdc70

     category_id                         name  NumberOfProducts
0           1415         Bộ chăn ga, ra, drap               120
1           2664     Phụ kiện ngoại thất khác               120
2           2651       Phụ kiện nội thất khác               117
3           2652           Gối, đệm, ghế ô tô               113
4           1362                 Tranh canvas               111
..           ...                          ...               ...
521         2700              Máy Tính Để Bàn                 1
522         2760  High School: Grades 10 - 12                 1
523         2764                  TOEIC Books                 1
524         2770                     Teamwork                 1
525         2771             Customer Service                 1

[526 rows x 3 columns]

### Which category has the highest average reviews or ratings ...?

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
)
SELECT category_id, categories.name, AVG(rating) AS AverageRating, AVG(review) AS AverageReviews
FROM all_products
  JOIN categories 
    ON all_products.category_id = categories.id
  GROUP BY category_id
  HAVING AverageRating NOT NULL
  ORDER BY AverageReviews DESC, AverageRating DESC
''', conn)

0x7f4a378fdc70

     category_id                            name  AverageRating  AverageReviews
0           2488       Chuột Văn Phòng Không Dây       4.540909      156.583333
1           1467            Cà men, hộp đựng cơm       4.554667      142.765432
2           2681                          Bơm xe       4.050000      134.750000
3           1564                     Tủ, kệ sách       4.503030      101.157895
4           2612             Sạch nhờn, ngừa mụn       4.668889       96.541667
..           ...                             ...            ...             ...
471         2721            Puzzles, games books       5.000000        1.480000
472         1560                  Ghế trang điểm       4.000000        1.375000
473         2737               Everyday Feelings       4.500000        1.357143
474         2715  Nursery rhymes and rhyme books       4.700000        1.294118
475         2728            Nature & Environment       4.000000        1.210526

[476 rows x 4 columns]

### Which product has the highest number of reviews, what is its ratings ?

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
),
tmp AS (
SELECT a.product_sku, a.name, c.name AS Category, MAX(review) AS MaxReview
FROM all_products AS a
  JOIN categories AS c
    ON a.category_id = c.id
  GROUP BY category_id
  ORDER BY MaxReview DESC
)
SELECT product_sku, tmp.name, Category, MaxReview, rating
FROM tmp
  JOIN all_products USING (product_sku)
''', conn)

0x7f4a378fdc70

       product_sku  ... rating
0    6702966607906  ...    4.7
1    5700202968805  ...    4.5
2    5005787889454  ...    4.7
3    6461216496669  ...    4.7
4    6805701692943  ...    4.7
..             ...  ...    ...
521  7869001197538  ...    NaN
522  9780439773911  ...    NaN
523  4563061835500  ...    NaN
524  1680040791626  ...    NaN
525  9781632650238  ...    NaN

[526 rows x 5 columns]

### Which category has the most children ?

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
)
SELECT c1.id AS CategoryId, c1.name AS Name, COUNT(c2.parent_id) AS number_sub_categories
  FROM categories as c1
    JOIN categories as c2
      ON c1.id = c2.parent_id
    --WHERE c1.parent_id IS NULL
    GROUP BY c1.id
    ORDER BY number_sub_categories DESC
    LIMIT 10
''', conn)

0x7f4a378fdc70

   CategoryId                       Name  number_sub_categories
0          59           Sửa chữa nhà cửa                     30
1         138  Thiết Bị Số - Phụ Kiện Số                     26
2         403           Phụ kiện nhà bếp                     25
3          54            Đồ dùng nhà bếp                     24
4          70                    Nhạc cụ                     24
5         150            Sách tiếng Việt                     24
6           7           Nhà Cửa Đời Sống                     21
7          65        Vật phẩm phong thủy                     21
8        1021               Sách văn học                     21
9          62      Ngoài trời & sân vườn                     20

### What is the price range for each category ?

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
)

SELECT category_id, categories.name, MIN (price), MAX (price) 
FROM all_products
  JOIN categories 
    ON all_products.category_id = categories.id
  GROUP BY category_id
''', conn)

0x7f4a378fdc70

     category_id             name  MIN (price)  MAX (price)
0           1334        Quạt Đứng       159000      3680000
1           1335         Quạt sạc        40000      2864900
2           1336  Quạt treo tường       249000      3590000
3           1337         Quạt bàn        48999      5520000
4           1338        Quạt lửng       299000      3782033
..           ...              ...          ...          ...
521         2775         Phấn nén        74500      3220000
522         2776         Phấn bột        32900      1909000
523         2777         Dạng bút        67000       888000
524         2778        Dạng nước        39000      1800000
525         2779         Dạng gel        79000      1010000

[526 rows x 4 columns]

## What is the best products for each category, in term of rating and reviews ?

In [ ]:
select_query('''

''', conn)

## Show me products that not only are the most discounted but also has free gifts for each category

In [ ]:
select_query('''
WITH all_products AS (
  SELECT *
  FROM main.products
      
  UNION

  SELECT * 
  FROM tiki2.products
)
SELECT product_sku, name, MAX(discount) AS Discount, gift
FROM all_products
  GROUP BY category_id
  HAVING gift = 1
  ORDER BY Discount DESC
''', conn)

0x7f4a378fdc70

      product_sku  ... gift
0   1913299304348  ...    1
1   5412450536315  ...    1
2   6636200166815  ...    1
3   9781788700597  ...    1
4   3007716994019  ...    1
5   2677867688207  ...    1
6   3459393397247  ...    1
7   9781474921817  ...    1
8   7535052364495  ...    1
9   5260262167698  ...    1
10  6927114807841  ...    1
11  9374531574455  ...    1
12  9780722540244  ...    1
13  2028951641804  ...    1
14  9781474941006  ...    1
15  2606283338861  ...    1
16  3075774796548  ...    1
17  8862756922119  ...    1
18  4452215810459  ...    1
19  4097630449244  ...    1
20  7704973244258  ...    1
21  5506955176845  ...    1
22  9780439773911  ...    1
23  9781632650238  ...    1
24  4023789557723  ...    1
25  4563061835500  ...    1

[26 rows x 4 columns]